

<div class="individual-suit-container">
	<a>
	 <img src="@Suit.Poster" alt="hero image" class="suit-poster" />
 </a>
 <p>@Suit.TitleBrief</p>
 <p class="suit-price">@Suit.Price</p>
 <div>
	 <a class="btn btn-info">Edit</a>
	 <button type="button" class="btn btn-danger"
	 @onclick="@(() => DeleteSuit.InvokeAsync(Suit))">
		 Delete		
	</button>
 </div>
</div>


@code {
	[Parameter] public Suit Suit { get; set; }
	[Parameter] public EventCallback<Suit> DeleteSuit { get; set; }
}