@inherits InputTextArea
@using System.Linq.Expressions
@typeparam TValue

<div class="col-md alert alert-info" role="alert">
  Need a refresher? Markdown syntax formatting <a title="formatting reference from markdown-guide.org" 
    target=”_blank”
    href="https://www.markdownguide.org/cheat-sheet">cheatsheet</a>
</div>

<div class="row my-3 mx-0">
  <div class="col-md-6 pr-md-2 px-0 mx-0">
    <p>
      <label>@LabelMarkup</label>
        <div>
          <InputTextArea 
            @bind-Value="CurrentValue" />
          <ValidationMessage For="For" />
        </div>
    </p>
  </div>
  <div class="col-md-6 pl-md-2 px-0 mx-0">
    <p>
      <label>@LabelPreview</label>
        <div class="markdown-container">
          <RenderMarkdown 
            MarkdownContent="@CurrentValue"/>
        </div>
    </p>
  </div>
</div>

@code {
  [Parameter] public Expression<Func<TValue>> For { get; set; }
  [Parameter] public string LabelMarkup { get; set; }
  [Parameter] public string LabelPreview { get; set; }
}
