@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
          @Body
        </div>
        <div class="footer px-4">
          <footer>
            &copy; @CopyrightMsg
          </footer>
        </div>
    </div>
</div>

@code{

    public string CopyrightMsg { get; set; } = 
    $"Larry's Sartorial Shoppe 1980 - {@DateTime.Today.Year}";
}
