<div class="mt-3">
	<h2>Movies</h2>
		@*<input type="checkbox" @onchange="@(() => displayButtons = !displayButtons)" />*@
		<div class="custom-control custom-switch">
			<input type="checkbox" @bind="@displayButtons" class="custom-control-input" id="deleteBtnsSwitch">
			<label class="custom-control-label" for="deleteBtnsSwitch">Visible Delete Button per Movie</label>
		</div>
		<GenericList List="Movies">
			<ItemTemplate>
				<IndividualMovie 
					Movie="context"
					DisplayButtons="displayButtons" 
					DeleteMovie="DeleteMovie" />
			</ItemTemplate>
		</GenericList>
</div>


@code {
	[Parameter] public List<Movie> Movies { get; set; }

	bool displayButtons = true;

	private void DeleteMovie(Movie movie)
	{
		Movies.Remove(movie);
	}
}
