@inject IJSRuntime js

<div class="mt-3">
	<h2>Movies</h2>
		@*pass any list (i.e. "Movies" to generic list*@
		<GenericList List="Movies">
			<ElementTemplate>
				<IndividualMovie 
					Movie="context"
					DeleteMovie="DeleteMovie" />
			</ElementTemplate>
		</GenericList>
</div>

@code {
	[Parameter] public List<Movie> Movies { get; set; }

	private async Task DeleteMovie(Movie movie)
	{

		await js.ConfirmDeleteMsg("Confirm delete movie modal");
		var confirmed = await js.Confirm(
			$"Are you sure you want to delete {movie.Title}?"
		);

		if (confirmed) 
		{
			Movies.Remove(movie);
		}
	}
}