<div class="mt-3">
	<h3>Movie</h3>
	@if (Movies == null)
	{
		<div class="container">
			<div class="row text-center">
				<text class="text-info">Loading...</text>
			</div>
			<div class="row">
				<img src="/img/loading.gif" asp-append-version="true" width="300px"/>
			</div>
		</div>		
	}
	else if (Movies.Count == 0)
	{
		<div>
			<text class="text-info">There are no records to show.</text>
		</div>
	}
	else
	{
			@foreach (var movie in Movies)
			{
				<IndividualMovie Movie="movie"/>
			}
	}
</div>


@code {
	[Parameter] public List<Movie> Movies { get; set; }
}
