@inject IJSRuntime js

<h2>Suits</h2>
<div class="suits-container mt-3">
	
		@*pass any list (i.e. "Suits" to generic list*@
		<GenericList List="Suits">
			<ElementTemplate>
				<IndividualSuit 
					Suit="context"
					DeleteSuit="DeleteSuit" />
			</ElementTemplate>
		</GenericList>
</div>

@code {
	[Parameter] public List<Suit> Suits { get; set; }

	private async Task DeleteSuit(Suit suit)
	{

		await js.ConfirmDeleteMsg("Confirm delete suit modal");
		var confirmed = await js.Confirm(
			$"Are you sure you want to delete {suit.Title}?"
		);

		if (confirmed) 
		{
			Suits.Remove(suit);
		}
	}
}