@page "/"
@inject IRepository repository


<h1>Larry's Sartorial Shoppe</h1>

<div>
	<SuitsList Suits="suits"/>
</div>


@code{
	private List<Suit> suits;

	protected async override Task OnInitializedAsync()
	{
		suits = repository.GetSuits();
	}
}