@page "/"
@page "/index"
@inject IProductRepository productRepository

<h1>Larry's Sartorial Shoppe</h1>

@if (IsFeatured != null)
{
	<div>
		<h3>Featured: Hand-Picked</h3>
		<ProductList Products="IsFeatured"/>
	</div>
} else {}
@if (IsNewRelease != null)
{
	<div>
		<h3>New Releases: The Latest Designs</h3>
		<ProductList Products="IsNewRelease"/>
	</div>
} else {}
@if (IsTrending != null)
{
	<div>
		<h3>Trending: Selling Out</h3>
		<ProductList Products="IsTrending"/>
	</div>
} else {}
@if (IsOnSale != null)
{
	<div>
		<h3>Sale: Up to 25% off</h3>
		<ProductList Products="IsOnSale"/>
	</div>
} else {}
@if (IsOnClearance != null)
{
	<div>
		<h3>Clearance: Over 25% off</h3>
		<ProductList Products="IsOnClearance"/>
	</div>
} else {}


@code{
	[Parameter] public List<Product> IsFeatured { get; set; }
	[Parameter] public List<Product> IsNewRelease { get; set; }
	[Parameter] public List<Product> IsTrending{  get; set; }
	[Parameter] public List<Product> IsOnSale { get; set; }
	[Parameter] public List<Product> IsOnClearance { get; set; }

	protected async override Task OnInitializedAsync()
	{
		var response = await productRepository.GetIndexPageDTO();
		IsFeatured = response.Featured;
		IsNewRelease = response.NewRelease;
		IsTrending = response.Trending;
		IsOnSale = response.OnSale;
		IsOnClearance = response.OnClearance;
	}
}