@page "/"
@page "/index"
@inject IRepository repository


<h1>Larry's Sartorial Shoppe</h1>

<div>
	<ProductList Products="products"/>
</div>


@code{
	private List<Product> products;

	protected async override Task OnInitializedAsync()
	{
		products = repository.GetProducts();
	}
}