@page "/"
@inject SingletonService singleton
@inject IRepository repository



<div>
	<MoviesList Movies="movies"/>
</div>
@*<p>Singleton count: @singleton.Value</p>*@

<div class="mt-3">
	<button @onclick="AddNewMovie">Add new movie</button>
</div>

<div class="mt-3">
	<DummyTextbox placeholder="movie name" />
</div>


@code{
	private List<Movie> movies;

	protected async override Task OnInitializedAsync()
	{
		await Task.Delay(6000);
		movies = repository.GetMovies();
	}
	private void AddNewMovie()
	{
		movies.Add(new Movie() { Title = "Movie Sample", ReleaseDate = DateTime.Today });
	}
}