@page "/"
@page "/index"
@inject IRepository repository


<h1>Larry's Sartorial Shoppe</h1>

<div>
	<ProductList Products="products"/>
</div>

<CustomTypeahead SearchMethod="SearchMethod">
	<ResultTemplate>
	 @context
 </ResultTemplate>
</CustomTypeahead>


@code{
	private List<Product> products;

	protected async override Task OnInitializedAsync()
	{
		products = repository.GetProducts();
	}

	//dummy omni search / typeahead data	
	private async Task<IEnumerable<string>> SearchMethod(string searchText)
	{
		await Task.Delay(2000);
		if(searchText =="test") { return Enumerable.Empty<string>();  }
		return new List<string>() { "Kris", "Bunda" };
	}

}