@page "/"
@inject IRepository repository


<h1>Larry's Sartorial Shoppe</h1>

<div>
	<MoviesList Movies="movies"/>
</div>


@code{
	private List<Movie> movies;

	protected async override Task OnInitializedAsync()
	{
		movies = repository.GetMovies();
	}
}