@page "/person/create"
@inject NavigationManager navigationManager

<h3>Create Person</h3>

<PersonForm Person="Person"	OnValidSubmit="Create" />

@code {
	private Person Person = new Person();

	private void Create()
	{
		Console.WriteLine("Creating person: ");
		Console.WriteLine($"{Person.NameFirst} {Person.NameMI} {Person.NameLast}");
		Console.WriteLine($"{Person.DateOfBirth} {Person.Biography}");
	}

}