@page "/person/edit/{PersonId:int}"
@inject IPersonRepository personRepository
@inject NavigationManager navigationManager


<h3>Edit Person</h3>


@if (Person != null)
{
	<PersonForm Person="Person"	OnValidSubmit="Edit" />
}


@code {
	[Parameter] public int PersonId { get; set; }


	//do not make 'new' entity on Edit (like on Create)
	private Person Person;

	
	protected async override Task OnInitializedAsync()
	{
		Person = await personRepository.GetPersonById(PersonId);		
	}

  private async Task Edit()
	{
		Console.WriteLine("Editing the person: ");
		Console.WriteLine($"{Person.FullName}");

		await personRepository.UpdatePerson(Person);
    navigationManager.NavigateTo("people");
	}

}