@page "/category/create"
@inject NavigationManager navigationManager
@inject ICategoryRepository categoryRepository

<h3>Create Category</h3>

<CategoryForm Category="category"	OnValidSubmit="Create" />

@code {
	private Category category = new Category();

	private void Create()
	{
		Console.WriteLine("Create method: ");
		Console.WriteLine(category.Name);

		try
		{
			categoryRepository.CreateCategory(category);
			navigationManager.NavigateTo("categories");
			
		}
		catch(Exception ex)
		{
			//
			Console.WriteLine(ex.Message);
		}		
	}

}
