@page "/category/create"
@inject NavigationManager navigationManager

<h3>Create Category</h3>

<EditForm Model="category" OnValidSubmit="Create">
	<DataAnnotationsValidator />
	<div class="form-group">
		<label>Name: </label>
		<div>
			<InputText class="form-control" @bind-Value="@category.Name"/>
		</div>
 </div>
</EditForm>

<button class="btn btn-success" type="submit">Save Changes</button>



@code {
	private Category category = new Category();

	private void Create()
	{
		Console.WriteLine(category.Name);
	}
	
	[Parameter] public int CategoryId { get; set; }
	[Parameter] public string CategoryName { get; set; }

	protected override void OnInitialized()
	{
		Console.WriteLine($"The category ID is: {CategoryId}");
		Console.WriteLine($"The category name is: {CategoryName}");
	}
}
