@page "/category/create"
@inject NavigationManager navigationManager

<h3>Create Category</h3>

<CategoryForm Category="category"	OnValidSubmit="Create" />

@code {
	private Category category = new Category();

	private void Create()
	{
		Console.WriteLine("Create method: ");
		Console.WriteLine(category.Name);
	}

}
