@page "/category/edit/{CategoryId:int}"
@inject ICategoryRepository categoryRepository
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>Edit Product Category</h3>

@if (category != null)
{
	<CategoryForm Category="category" OnValidSubmit="Edit"	/>
}


@code {
	[Parameter] public int CategoryId { get; set; }
	public Category category;

	protected override async Task OnInitializedAsync()
	{
		category = await categoryRepository.GetCategory(CategoryId);
	}

	private async Task Edit()
	{

		await categoryRepository.UpdateCategory(category);
		navigationManager.NavigateTo("categories");

		Console.WriteLine($"Editing Category: Id = {category.Id} Name = {category.Name}");
	}

}
