@page "/product/edit/{ProductId:int}"

<h3>Edit Product</h3>

@if (Product != null)
{
	<ProductForm Product="Product"	
		OnValidSubmit="Edit"
		NotSelectedCategories="NotSelectedCategories"
		SelectedCategories="SelectedCategories"/>
}


@code {
	[Parameter] public int ProductId { get; set; }
	
	//do not make new entity on Edit (like on Create)
	private Product Product;

	//seeding the environment
	private List<Category> NotSelectedCategories; 

	private List<Category> SelectedCategories = new List<Category>()
  {
			new Category(){ Id = 1, Name = "Suits"  },
  };

	protected override void OnInitialized()
	{
		Product = new Product()
		{
			Id = ProductId,
			Title = "Pants, Stockport Wool Linen Blue Slacks",
			Video = "https://www.youtube.com/watch?v=oDj-W2pwbAA"
		};
	}

	private void Edit()
	{
		Console.WriteLine("Editing product: ");
		Console.WriteLine($"{Product.ProductNumber} {Product.Title} {Product.Summary}");
		Console.WriteLine($"IsOnSale?{Product.IsOnSale} IsOnClearance?{Product.IsOnClearance}");
	}

}
